<div class="page">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div>Gain total control and visibility of your business.</div>
				<ul>
					<li>
						Easily track all your orders, receipts, customers and
						sales performance.
					</li>
					<li>
						Integrate and synchronize with popular commerce
						solutions.
					</li>
				</ul>
				<div class="images"></div>
				<app-gradient-button-text
					text="Show me more"
				></app-gradient-button-text>
				<div>3M+</div>
				<div>Key Data Points Tracked</div>
			</div>
			<div class="col-md-6">
				<div class="d-flex">
					<div class="icon"></div>
					<div>Track Everything.</div>
				</div>
				<div class="image"></div>
			</div>
		</div>
	</div>
</div>
