<nav class="nav">
	<div class="container">
		<div class="d-flex aic jcc">
			<img class="logo" src="../../../assets/50 px.png" alt="" />

			<div class="ml-auto right">
				<span class="links">About Us</span>
				<span class="links">Features</span>
				<span class="links">Who we serve</span>
				<span class="links">Pricing</span>
				<span class="links">MarketPlace</span>
				<span class="get-started"
					>Get Started <i class="bi bi-arrow-right ml-3"></i
				></span>
			</div>
		</div>
	</div>
</nav>
