<nav class="nav">
	<div class="container">
		<div class="d-flex aic jcc">
			<img
				routerLink="/"
				class="logo"
				src="../../../assets/50 px.png"
				alt=""
			/>

			<div class="ml-auto right">
				<!-- <span (click)="pota()" routerLink="about-us" class="links"
					>About Us</span
				> -->
				<span routerLink="/features" class="links">Features</span>
				<span routerLink="/who-we-serve" class="links"
					>Who we serve</span
				>
				<span routerLink="/pricing" class="links">Pricing</span>
				<span routerLink="/market-place" class="links"
					>MarketPlace</span
				>
				<span class="get-started"
					>Get Started <i class="bi bi-arrow-right ml-3"></i
				></span>
			</div>
		</div>
	</div>
</nav>
