.nav {
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
	position: relative;
	z-index: 3;
}

.logo {
	height: 50px;
	object-fit: contain;
	cursor: pointer;
}

.right {
	.links {
		margin-right: 3rem;
		min-width: 150px;
		font-weight: 700;
		cursor: pointer;
		transition: 0.2s ease;
		color: white;
		&:hover {
			opacity: 0.5;
		}
	}
	.get-started {
		border-radius: 30px;
		border: 1px solid white;
		padding: 10px 30px;
		color: white !important;
		cursor: pointer;
		font-weight: 900;
		background: hsla(0, 0%, 0%, 0.4);

		transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
		&:hover {
			background: hsla(0, 0%, 100%, 0.2);
		}
	}
}
