<div class="page">
	<app-navbar-home></app-navbar-home>
	<div class="overlay"></div>
	<img class="landing-image" src="../../../../assets/home/bg.jpeg" alt="" />
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h1
					class="text-white headline animate__animated animate__slideInDown animate__fast"
				>
					Check out <br />
					is never been easy.
				</h1>
				<p
					class="text-white mb-5 animate__animated animate__fadeInDown animate__slow"
				>
					Sell your product on your favorite social platform.
				</p>
				<div class="d-flex btn-container mt-2">
					<button
						class="rive-btn btntext-white mr-3 d-flex aic jcc animate__animated animate__fadeInLeft"
					>
						Download Rive
						<i class="bi bi-arrow-right ml-3"></i>
					</button>
					<button
						class="sales-btn btn bg-white d-flex aic jcc animate__animated animate__fadeInLeft"
					>
						Contact Sales <i class="bi bi-arrow-right ml-3"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
