<div class="page">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="d-flex">
					<div class="icon"></div>
					<div>Accept payments.</div>
				</div>
				<div>Enable payments seamlessly starting today.</div>
				<app-gradient-button-text
					text="tell mem more"
				></app-gradient-button-text>

				<div>2.7x</div>
				<div>vs. eCommerce average basket</div>
			</div>
			<div class="col-md-9">
				<div class="image"></div>
				<div class="rive-card">
					<div>Payments powered by Zbooni.</div>
					<div>Available in Jordan, UAE, KSA, and Egypt.</div>
					<div class="images"></div>
				</div>
			</div>
		</div>
	</div>
</div>
