<div class="page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div>Why Rive</div>
			</div>
			<div class="col-md-6">
				<div class="d-flex">
					<div>
						<circle-progress
							title="98%"
							[percent]="98"
							[radius]="100"
							[outerStrokeWidth]="7"
							[outerStrokeColor]="'#E5FF00'"
							outerStrokeGradientStopColor="red"
							[showInnerStroke]="false"
							[showSubtitle]="false"
							[animation]="true"
							[animationDuration]="300"
							titleColor="white"
							titleFontSize="74"
							titleFontWeight="900"
							[animateTitle]="true"
							[outerStrokeGradient]="true"
						></circle-progress>
						<div>Messaging Open Rate</div>
					</div>
					<div>vs</div>
					<div>
						<circle-progress
							title="10%"
							[percent]="10"
							[radius]="100"
							[outerStrokeWidth]="7"
							[outerStrokeColor]="'#E5FF00'"
							outerStrokeGradientStopColor="red"
							[showInnerStroke]="false"
							[showSubtitle]="false"
							[animation]="true"
							[animationDuration]="300"
							titleColor="white"
							titleFontSize="74"
							titleFontWeight="900"
							[animateTitle]="true"
							[outerStrokeGradient]="true"
						></circle-progress>
						<div>Email Open Rate</div>
					</div>
				</div>
				<div>4 hours</div>
				<div>
					is the average daily time spent on social and messaging
					channels by shoppers.
				</div>
			</div>
			<div class="col-md-6">
				<div class="d-flex">
					<circle-progress
						title="10%"
						[percent]="87"
						[radius]="50"
						[outerStrokeWidth]="7"
						[outerStrokeColor]="'#E5FF00'"
						outerStrokeGradientStopColor="red"
						[showInnerStroke]="false"
						[showSubtitle]="false"
						[animation]="true"
						[animationDuration]="300"
						titleColor="white"
						titleFontSize="24"
						titleFontWeight="900"
						[animateTitle]="true"
						[outerStrokeGradient]="true"
					></circle-progress>
					<div>
						of shoppers believe social channels help them make a
						shopping decision.
					</div>
				</div>
				<div class="d-flex">
					<circle-progress
						title="10%"
						[percent]="87"
						[radius]="50"
						[outerStrokeWidth]="7"
						[outerStrokeColor]="'#E5FF00'"
						outerStrokeGradientStopColor="red"
						[showInnerStroke]="false"
						[showSubtitle]="false"
						[animation]="true"
						[animationDuration]="300"
						titleColor="white"
						titleFontSize="24"
						titleFontWeight="900"
						[animateTitle]="true"
						[outerStrokeGradient]="true"
					></circle-progress>
					<div>
						of shoppers say they would only engage with personalized
						marketing messages.
					</div>
				</div>
				<div class="d-flex">
					<circle-progress
						title="10%"
						[percent]="87"
						[radius]="50"
						[outerStrokeWidth]="7"
						[outerStrokeColor]="'#E5FF00'"
						outerStrokeGradientStopColor="red"
						[showInnerStroke]="false"
						[showSubtitle]="false"
						[animation]="true"
						[animationDuration]="300"
						titleColor="white"
						titleFontSize="24"
						titleFontWeight="900"
						[animateTitle]="true"
						[outerStrokeGradient]="true"
					></circle-progress>
					<div>
						of shoppers say they would rather buy from companies
						they can reach by chat..
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
