<div class="page">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div>
					Turn one to one customer interactions into transactions.
				</div>
				<div>
					Easily create invoices and orders to close sales on
					messaging apps you already use.
				</div>
				<app-gradient-button text="View Features"></app-gradient-button>

				<app-conversion-rate [rate]="81"></app-conversion-rate>
			</div>
			<div class="col-md-8"></div>
			<div class="d-flex">
				<div class="icon"></div>
				<div>
					Turn one to one customer interactions into transactions.
				</div>
			</div>
			<div class="images"></div>
		</div>
	</div>
</div>
