<div class="page">
	<div class="overlay">
		<i class="bi bi-credit-card"></i>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1
					class="text-black headline animate__animated animate__fadeInLeft"
				>
					Transactions <br />
					made conventional
				</h1>
				<br />
				<p class="text-black mb-5">
					Allow your buyers to checkout a product via any social
					platform.
				</p>
				<div class="d-flex mt-2">
					<app-gradient-button-text
						text="Get Started"
					></app-gradient-button-text>
				</div>
			</div>
			<div class="col-md-6">
				<div class="chat">
					<div class="d-flex chat-container">
						<div class="chat-message">
							Hi! Please check the link for you to checkout.
						</div>
						<div class="shop-icon">
							<img
								src="../../../../assets/home/nike.png"
								alt=""
							/>
						</div>
					</div>

					<div class="d-flex">
						<div class="chat-card">
							<div class="d-flex">
								<div class="chat-image">
									<img
										src="../../../../assets/home/nike1.png"
										alt=""
									/>
								</div>
								<div class="chat-description">
									<div style="font-weight: bold">
										Nike Blue PRECISION IV
									</div>
									<div>Unisex Basketball Shoes</div>
									<div>rive.ae</div>
								</div>
							</div>
							<div class="chat-link">
								<p>
									https://www.rive.ae/product_details/nike_precision_iv
								</p>
							</div>
						</div>
						<div class="social-icons"></div>
					</div>
					<div class="d-flex reply-container">
						<div class="shop-icon mr-2">
							<img
								src="../../../../assets/home/face-7.jpg"
								alt=""
							/>
						</div>
						<div class="chat-message">
							Finally, an excellent platform 🤗
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
