<div class="page">
	<div class="overlay">
		<i class="bi bi-credit-card"></i>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1
					class="text-black headline animate__animated animate__fadeInLeft"
				>
					Transaction <br />
					made conventional
				</h1>
				<br />
				<p class="text-black mb-5">
					Allow your buyers to checkout a product via any social
					platform.
				</p>
				<div class="d-flex mt-2">
					<app-gradient-button-text
						text="Get Started"
					></app-gradient-button-text>
				</div>
			</div>
			<div class="col-md-6">
				<div class="chat">
					<div class="d-flex">
						<div class="chat-message">
							Hey there! 👋 Here’s your updated cart!
						</div>
						<div class="shop-icon"></div>
					</div>

					<div class="d-flex">
						<div class="chat-card">
							<div class="d-flex">
								<div class="chat-image"></div>
								<div class="chat-description"></div>
							</div>
							<div class="chat-link"></div>
						</div>
						<div class="social-icons"></div>
					</div>
					<div class="chat-message">Awesome! 😎 Thank you</div>
					<div class="shop-icon"></div>
				</div>
			</div>
		</div>
	</div>
</div>
