@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');
* {
	font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
	overflow-x: hidden;
}

.jcc {
	justify-content: center;
}

.aic {
	align-items: center;
}

button {
	outline: 0 !important;
}

.page {
	position: relative;
	height: 100vh;
	width: 100vw;
	background: #f8f8f8;
	overflow: hidden;
}
