<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="logo"></div>
				<div class="row">
					<div class="col-md-4">
						<div>our location</div>
						<div>UAE</div>
						<div>Abu Dhabi</div>
						<div>Bahrain</div>
					</div>
					<div class="col-md-4">
						<div>company</div>
						<div>Features</div>
						<div>Who we serve</div>
						<div>About Us</div>
						<div>Market Place</div>
					</div>
					<div class="col-md-4">
						<div>Email Us</div>
						<div>123@gmail.com</div>
						<div>Find us</div>
						<div>123@gmail.com</div>
						<div class="social-icons"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div>Contact Us</div>
				<div>We are always happy to answer any queries you have.</div>
				<div class="whats-app-btn"></div>
			</div>
			<div class="col-md-12">
				© 2022, Zbooni. All rights reserved.Terms and Conditions|Privacy
				Policy
			</div>
		</div>
	</div>
</footer>
