<div class="page">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="d-flex">
					<div class="icon"></div>
					<div>Sell More.</div>
				</div>
				<div class="image"></div>
			</div>
			<div class="col-md-9">
				<div>Attract new customer and increase repeat purchases</div>
				<ul>
					<li>
						get discovered on rive marketplace and create chat to
						shop product catalogs.
					</li>
					<li>Access suite of personalized re-marketing tools</li>
				</ul>
				<app-gradient-button text="Discover more"></app-gradient-button>
				<div>392,287</div>
				<div>Successful Orders</div>
			</div>
		</div>
	</div>
</div>
